@import "tailwindcss";
@import "react-datepicker/dist/react-datepicker.css";


@theme {
  /* --color-light-btn: #3c9c64;
  --color-dark-btn: #017d3f; */
  --color-light-btn: #063970;
  --color-dark-btn: #2482c2;
  --color-text-clr:#ffffff;
  --color-bg-clr:#1e0020;
   --breakpoint-xxs: 375px ;
   --breakpoint-xs: 410px ;
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Highlight time option on hover */
.react-datepicker__time-list-item:hover {
  background-color: #39033c !important; /* Tailwind's bg-gray-200 */
  cursor: pointer;
}

/* Ensure .pac-container uses full width of its input */
.pac-container {
  width: 60% !important;
  max-width: unset !important;
  z-index: 9999 !important; /* ensure it's above other elements */
}

/* Optional: improve dropdown styling */
.pac-item {
  white-space: normal !important;
  padding: 10px !important;
  font-size: 14px !important;
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.2s ease-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}